<% include partials/_header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">TS CRUD</h1>
        <p class="lead">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum ab quasi sunt. Architecto, dignissimos libero.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-primary btn-lg">Read More</a>
    </div>
</div>